article {
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: 500;
        line-height: 1.1;
        color: var(--neutral-9);

        & + p {
            margin-top: 10px;
        }

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    h1 {
        font-size: 36px;
        line-height: 44px;
    }

    h2 {
        font-size: 28px;
        line-height: 34px;
    }

    h3 {
        font-size: 24px;
        line-height: 28px;
    }

    h4 {
        font-size: 21px;
        line-height: 25px;
    }

    h5 {
        font-size: 18px;
        line-height: 21px;
    }

    h6 {
        font-size: 15px;
        line-height: 18px;
    }

    p {
        margin: 0;
        // line-height: 1.4;
        color: var(--neutral-7);

        &.-s1 {
            font-size: 24px;
            line-height: 36px;
        }

        &.-s2 {
            font-size: 21px;
            line-height: 31px;
        }

        &.-s3 {
            font-size: 18px;
            line-height: 27px;
        }

        &.-s4 {
            font-size: 15px;
            line-height: 22px;
        }

        &.-s5 {
            font-size: 13px;
            line-height: 19px;
        }

        & + p {
            margin-top: 10px;
        }

        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            margin-top: 30px;
        }
    }

    a {
        color: var(--neutral-9);
        text-decoration: underline;

        &:hover {
            color: var(--primary);
        }
    }

    ol, ul {
        margin: 10px 0 0 0;
        padding: 0 0 0 20px;

        li {
            color: var(--neutral-7);
        }

        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            margin-top: 30px;
        }
    }

    > p > img {
        margin-top: 10px;
        max-width: 100%;
        height: auto;
    }

    figure {
        margin: 20px 0 0 0;
        width: 100%;

        picture {
            width: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}