
html {
    font-family: $fonts;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.01rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

body {
    background-color: var(--neutral-0);
}

main {
    @include media-query(small) {
        
    }

    @include media-query(medium-up) {
        .page {
            display: flex;
            gap: 50px;
            justify-content: center;
            padding-top: 50px;

            article {
                flex-basis: 800px;
            }
        }
    }
}