
#site-nav {
    .top {
        a {
            display: block;
            padding: 0 15px;
            text-decoration: none;
            color: var(--neutral-7);
            line-height: 22px;

            b {
                font-weight: 500;
                color: var(--neutral-9);
            }
            
            &:hover {
                color: var(--primary);

                b {
                    color: var(--primary);
                }
            }
        }
    }

    nav {
        a {
            display: block;
            padding: 6px 15px;
            text-decoration: none;
            color: var(--neutral-7);
            line-height: 24px;
            transition: background-color 150ms $ease;

            &.-header {
                margin-top: 20px;
                color: var(--neutral-9);
                font-weight: 600;
            }

            &.-indent {
                padding-left: 30px;
            }
            
            &:hover {
                color: var(--primary);
            }
            
            &.-active {
                color: var(--neutral-9);
                background-color: var(--neutral-2);
            }
        }
    }

    &.-expanded {
        .top {
            button {
                &:before,
                &:after {
                    background-color: var(--primary);
                }

                &:before {
                    transform: translate(-50%, -0) rotate(45deg);
                }

                &:after {
                    transform: translate(-50%, 0) rotate(-45deg);
                }
            }
        }
    }

    @include media-query(small) {
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 19px 15px 19px 0;
            border-bottom: 1px solid var(--neutral-4);

            button {
                display: block;
                position: relative;
                width: 44px;
                height: 44px;
                appearance: none;
                background-color: transparent;
                border-width: 0;

                &:before,
                &:after {
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    content: '';
                    width: 24px;
                    height: 2px;
                    border-radius: 1px;
                    background-color: var(--neutral-9);
                    transition: all 200ms $ease;
                }

                &:hover {
                    &:before,
                    &:after {
                        background-color: var(--primary);
                    }
                }

                &:before {
                    transform: translate(-50%, -4px);
                }

                &:after {
                    transform: translate(-50%, 4px);
                }
            }
        }

        nav {
            position: absolute;
            left: 0;
            top: 83px;
            width: 100vw;
            height: 0;
            overflow: hidden;
            background-color: var(--neutral-0);
            transition: height 450ms $ease;
            padding: 15px 0;
            box-sizing: border-box;
        }

        &.-expanded {
            nav {
                height: calc(100dvh - 83px);
                overflow-y: scroll;
            }
        }
    }

    @include media-query(medium-up) {
        flex-basis: 200px;

        .top {
            button {
                display: none;
            }
        }

        nav {
            margin-top: 20px;
        }
    }
}

body.-menu-visible {
    @include media-query(small) {
        height: 100dvh;
        overflow: hidden;
    }
}