
// For media queries.
$small_width:               640px;
$large_width:               1024px;
$huge_width:               1281px;

$fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

:root {
	--back: 13, 13, 15;
	--front: 255, 255, 255;

	--back-r: 13;
	--back-g: 13;
	--back-b: 15;

	--front-r: 255;
	--front-g: 255;
	--front-b: 255;

	--backHex: #0D0D0F;
	--frontHex: #ffffff;
}

.theme--light {
	--back: 251, 251, 251;
	--front: 0, 0, 0;

	--back-r: 251;
	--back-g: 251;
	--back-b: 251;

	--front-r: 0;
	--front-g: 0;
	--front-b: 0;

	--backHex: #fbfbfb;
	--frontHex: #000000;
}