
.page.-typography {
    article {
        .styles {
            list-style-type: none;
            margin: 20px 0 0 0;
            padding: 0;

            li {
                display: flex;
                flex-wrap: wrap;

                p {
                    margin: 0;

                    &:nth-child(1) {
                        flex-basis: 50%;
                    }

                    &:nth-child(2) {
                        flex-basis: 50%;
                        text-align: right;
                    }
                }

                *:nth-child(3) {
                    margin-top: 10px;
                    padding-top: 10px;
                    border-top: 1px solid var(--neutral-4);
                    flex-basis: 100%;
                }

                & + li {
                    margin-top: 40px;
                }
            }
        }
    }
}